[submodule "_vim/bundle/gist-vim"]
	path = _vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "_vim/bundle/The-NERD-tree"]
	path = _vim/bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/vim-css-color"]
	path = _vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "_vim/bundle/snipmate-snippets"]
	path = _vim/bundle/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "_vim/snippets"]
	path = _vim/snippets
	url = git://github.com/eculver/dotfiles.git
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = ssh://git@github.com/mileszs/ack.vim.git
[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = ssh://git@github.com/robbyrussell/oh-my-zsh.git
[submodule "_vim/bundle/YankRing"]
	path = _vim/bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
